.charts {
	position: relative;
	margin-top: 1%;
	height: 95vh;
}

.title{
	position: relative;
	top: 3vh;
	left: 3vw;
	color: whitesmoke;
	font-weight: bold; 
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif; 
	text-align: left;
}

body {
	background: rgb(161,34,150);
	background: linear-gradient(28deg, rgba(161,34,150,0.7049020291710435) 25%, rgba(27,27,142,0.6516807406556373) 50%, rgba(0,212,255,0.5900560907956933) 97%);    
}

.chart {
	border: 1px solid #000; 
	box-shadow: 10px 12px 21px 0px rgba(0,0,0,0.41);
	-webkit-box-shadow: 10px 12px 21px 0px rgba(0,0,0,0.41);
	-moz-box-shadow: 10px 12px 21px 0px rgba(0,0,0,0.41);
}

div.tooltip {
	position: absolute;
	text-align: center;
	width: 120px;
	height: 28px;
	padding: 2px;
	font-family: 'Inter', sans-serif;;
	font-size: 12px;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}

#parallelCoordsImg {
	position: absolute;
	top: 0;
	left: 7vw;
	width: 80%;
	height: 100%;
}

#slopegraphImg {
	position: absolute;
	top: 0;
	left: 5vw;
	width: 70%;
	height: 100%;
}

#scatterplotImg {
	position: absolute;
	top: 0;
	left: 5vw;
	width: 70%;
	height: 100%;
}

/* Parallel Coordinates */
#chart1 {
	/*border: 0px none;*/
	position: absolute;
	top: 7.0px;
	left: 34vw;
	width: 64vw;
	height: 52vh; 
	border-radius: 15px;
	background-color: whitesmoke;
}

#chart1svg {
	position: absolute;
	top: 40px;
	left: 10px;
}

/* Bubble Chart */
#chart2 {
	position: relative;
	top: 5.5vh;
	left: 0.5vw;
	width: 32vw;
	height: 39.5vh;  
	border-radius: 15px;
	background-color: whitesmoke;
	
}

#chart2svg{
	position: absolute;
	bottom: 10px;
	right: 40px;
}

/* Slopegraph */
#chart3 { 
	/*border: 0px none;*/
	position: absolute;
	bottom: 10px;
	left: 2vw;
	width: 40vw;
	height: 39.5vh;
	border-radius: 15px;
	background-color: whitesmoke;
	

}

#chart3svg {
	position: absolute;
	top: 30px;
	left: 60px;
}

/* Bar Chart */
#chart4 {
	position: absolute;
	bottom: 10px;
	right: 10vw;
	width: 40vw;
	height: 39.5vh;
	border-radius: 15px;
	background-color: whitesmoke;
	

}

#chart4svg{
	position: absolute;
	bottom: 10px;
	right: 40px;
}

#chart5 {
	/*border: 0px none;*/
	position: absolute;
	bottom: 10px;
	left: 69vw;
	width: 29vw;
	height: 39.5vh; 
	background-color: whitesmoke;
	

} 

text, p {
    font-family: 'Inter', sans-serif;
}
