.charts {
	position: relative;
	/*border: 2px solid red;*/
	margin-top: 1%;
	height: 95vh;
}

.chart {
	border: 1px solid #000; 
}

div.tooltip {
	position: absolute;
	text-align: center;
	width: 120px;
	height: 28px;
	padding: 2px;
	font: 12px sans-serif;
	background: lightsteelblue;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}

#parallelCoordsImg {
	position: absolute;
	top: 0;
	left: 7vw;
	width: 80%;
	height: 100%;
}

#slopegraphImg {
	position: absolute;
	top: 0;
	left: 5vw;
	width: 70%;
	height: 100%;
}

#scatterplotImg {
	position: absolute;
	top: 0;
	left: 5vw;
	width: 70%;
	height: 100%;
}

#chart1 {
	/*border: 0px none;*/
	position: absolute;
	top: 10px;
	left: 10px;
	width: 68vw;
	height: 52vh; 
}

#chart1svg {
	position: absolute;
	top: 40px;
	left: 10px;
}

#chart2 {
	position: relative;
	top: 13.5vh;
	left: 69vw;
	width: 29vw;
	height: 39.5vh;  
}

#chart2svg{
	position: absolute;
	bottom: 10px;
	right: 40px;
}

#chart3 { 
	/*border: 0px none;*/
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: 37vw;
	height: 39.5vh;
}

#chart4 {
	position: absolute;
	bottom: 10px;
	left: 38vw;
	width: 30.5vw;
	height: 39.5vh; 
}

#chart4svg{
	position: absolute;
	bottom: 10px;
	right: 40px;
}

#chart5 {
	/*border: 0px none;*/
	position: absolute;
	bottom: 10px;
	left: 69vw;
	width: 29vw;
	height: 39.5vh; 
} 

text, p {
    font-family: 'Inter', sans-serif;
}

.myButtons {
    position: absolute;
    top: 6vh;
	right: -1.5vw;
    transform: translate(-50%, -50%);
}

.btn {
	box-shadow:inset 1px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:20px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:'Inter', sans-serif;
	font-size:12px;
	font-weight:bold;
	padding:12px 30px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
}
.btn:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
.btn:active {
	position:relative;
	top:1px;
}
